@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'styles/vars';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/**
 * Layout
 */

#popup-root {
  .popup-overlay {
    background-color: rgba(0, 0, 0, 0.66);
  }

  .popup-content {
    border-radius: $mainBorderRadius;
    border: 1px solid #333;
    background-color: #161414;
    border: none;
    color: #fff;
    padding: 1.5rem;
    width: 80%;
    max-width: 30rem;
  }

  .popup-content .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 10px;
  }
  .popup-content .popup-close:hover {
    color: #dedede;
  }

  .popup-title {
  }
}
